<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bulma.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
</head>

<body>

<nav class="navbar is-fixed-top is-light">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ site.baseurl }}/">Home</a>
      <a class="navbar-item" href="{{ site.baseurl }}/archive.html">Tópicos</a>
      <a class="navbar-item" href="https://github.com/{{ site.github }}">Github</a>
    </div>
  </div>
</nav>
