
@media print {
  body, html {
    margin: 25cm 25cm 25cm 25cm;
  }

  header.navbar, .page-nav {
    display: none;
  }

  code .token.keyword, .token.class-name, .token.function {
    color: #000;
    font-weight: bold;
  }

  .content pre code, .content pre[class*="language-"] code, .content code {
    color: #000 !important;
    font-weight: bold;
  }

  span.line-number {
    color: #000;
    font-weight: bold;
  }

  hr {
    border: none;
    page-break-after: always;
  }
}
